#content {
    width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}

#errors {
    height: 2%;
    margin: 5px;
    color: red;
}

#requestXml,
#responseXml{
    display: inline-block;
    width: 45%;
    height: 50%;
    float: left;
    margin: 1%;
}

#requestXml textarea,
#responseXml textarea{
    height: 100%;
}
